<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <h1>Users CRUD</h1>
  <div class="spacer"></div>
  <h2 class="users-number">Users: {{ users.length }}</h2>
  <button class="add-user-button" mat-button (click)="createUser()">Add new user</button>
</div>

<div class="content" role="main">
  <div class="users-list" *ngIf="isLoaded">
    <mat-card class="user-card" *ngFor="let user of users">
      <mat-card-header>
        <div mat-card-avatar class="user-header-image"></div>
        <mat-card-title>{{ user.name + ' ' + user.surname }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><b>Phone:</b> {{ user.phone }}</li>
          <li><b>E-mail:</b> {{ user.mail }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editUser(user)">EDIT</button>
        <button mat-button (click)="removeUser(user.id)">REMOVE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>